<div class="login-container">
  <h1>Welcome to Car Workshop</h1>

  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="login-box">
    <h2>Login</h2>

    <!-- Username -->
    <dx-text-box
      name="username"
      [(ngModel)]="username"
      placeholder="userName"
      stylingMode="outlined"
      width="100%"
      required
    >
    </dx-text-box>
    <div class="error" *ngIf="loginForm.submitted && !username">
      Username is required
    </div>

    <!-- Password -->
    <dx-text-box
      name="password"
      [(ngModel)]="password"
      placeholder="Password"
      mode="password"
      stylingMode="outlined"
      width="100%"
      required
    >
    </dx-text-box>
    <div class="error" *ngIf="loginForm.submitted && !password">
      Password is required
    </div>

    <!-- Submit -->
    <dx-button
      text="Submit"
      type="success"
      width="100%"
      htmlType="submit"
    ></dx-button>
  </form>
</div>
